In [1]:
import pandas as pd

In [4]:
dataFrame = pd.read_excel("maas.xlsx") # excel dosyalarımızı dataFrame'lere dönüştürebiliriz

In [6]:
dataFrame

  Unnamed: 0  Maaş   Yaş  Departman
0       Atıl   100  20.0        NaN
1     Behçet   200  30.0    Yazılım
2      Gizem   300  40.0      Hukuk
3     Şevval   400   NaN      Satış
4      Yavuz   500  50.0  Pazarlama

In [7]:
doluDegerlerDF = dataFrame.dropna()

In [8]:
doluDegerlerDF

  Unnamed: 0  Maaş   Yaş  Departman
1     Behçet   200  30.0    Yazılım
2      Gizem   300  40.0      Hukuk
4      Yavuz   500  50.0  Pazarlama

In [10]:
doluDegerlerDF.to_excel("yenimaas.xlsx") #nan değerlerin silindiği yeni tabloyu bir excel dosyasına yazar